@import "leftBar.css";
@import "rightBar.css";

#footer{
    background: #505050;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    -webkit-justify-content: center;
    flex-flow: row wrap;
    width: inherit;
}

#right-bar, #left-bar{

}

#bottom-menu{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    background: #3b3b3b;
    height: 60px;
    width: 100%;
    color: #fff;
    bottom:100%;
}
#bottom-menu a{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: center;
    -ms-text-justify: auto;
    -webkit-align-items: center;
    margin-left: 20px;
    color: white;
}
.letter{
    font-family: AvenirNextCyr-Medium;
    font-size: 12px;
}
.letter img{
    margin-right: 20px;
}

@media screen and (max-device-width: 1024px){
    #footer{
        width: 1024px;
    }
    article{
        margin: 0 auto;
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
    article {
        -webkit-column-width:1000px;
        -moz-column-width:1000px;
        column-width:1000px;
    }
    article#left-bar {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
    #bottom-menu{
        width: 1020px;
    }
}
@media screen and (max-width: 768px){
    #footer{
        width: 768px;
    }
    article{
        margin: 0 auto;
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
    article {
        -webkit-column-width:768px;
        -moz-column-width:768px;
        column-width:768px;
    }
    article#left-bar {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
    #bottom-menu{
        width: 768px;
    }
}