#right-bar{
    left: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    width: 860px;
    height: auto;
    margin: -570px 10px 40px 0;

}
.leftBar-title, .rightBar-title{
    font-family: AvenirNextCyr-Medium;
    font-size: 20px !important;
    color: #ffe89c;
}
.rightBar-title{
    padding-top: 125px;
}
.footer-p{
    padding-top: 45px;
}
#best-products, #best-reviews{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
    margin: 0;
    width: 210px;
    height: 210px;
}
.fooo-item {
    display:inline-block;
    position:relative;
    margin-right: 15px;
}
.items-info-foo{
    display:block;
    position:absolute;
    top:60%;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 15px 20px 10px;
    color: #fff;
}
.author-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    white-space: nowrap;
    margin-top: -14px;
}
.item-title-foo{
     font-family: Avenir-Black;
     font-size: 14px;
 }

.item-auth-foo{
    font-family: AvenirNextCyr-Medium;
    font-size: 14px;
}
.foo-img{
    box-shadow: 0 2px 15px rgba(0,0,0,0.7);
    cursor: pointer;
}
.item-date-foo{
    font-family: AvenirNextCyr-Light;
    font-size: 12px;
}
.fooo-item:hover img{
    background: linear-gradient(to top, #000, #fff 50%);
}

/*@media screen and (min-device-width: 1024px){*/
    /*#right-bar{*/
        /*width: 650px;*/
        /*margin: 0 0 40px 80px;*/
        /*padding-left: 70px;*/
    /*}*/
    /*#best-products, #best-reviews{*/
        /*margin: 0;*/
        /*width: 210px;*/
        /*height: 210px;*/
    /*}*/
/*}*/
/*@media screen and (min-width: 768px){*/
    /*#right-bar{*/
        /*width: 650px;*/
        /*margin: 0 0 40px 50px;*/
    /*}*/
    /*#best-products, #best-reviews{*/
        /*!*display: -webkit-box;*!*/
        /*!*display: -moz-box;*!*/
        /*!*display: -ms-flexbox;*!*/
        /*!*display: inline-flex;*!*/
        /*!*flex-direction: row;*!*/
        /*!*-webkit-align-items: center;*!*/
        /*!*justify-content: center;*!*/
        /*!*-webkit-justify-content: center;*!*/
        /*!*align-items: center;*!*/
        /*margin: 0;*/
        /*width: 210px;*/
        /*height: 210px;*/
    /*}*/
/*}*/