#right-bar{
    left: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex: 1 1 600px;
    flex-basis: 600px;
    width: 600px;
   /* height: auto;*/
    margin: 0 10px 100px 70px;
    padding-bottom: 70px
}
.leftBar-title, .rightBar-title{
    font-family: AvenirNextCyr-Medium;
    font-size: 20px !important;
    color: #ffe89c;
}
.rightBar-title{
    padding-top: 65px;
}
.footer-p{
    padding-top: 45px;
}
#best-products, #best-reviews{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
    margin: 0;
    width: 210px;
    height: 210px;
}
.fooo-item {
    display:inline-block;
    position:relative;
    margin-right: 15px;
}
.items-info-foo{
    background: rgba(86, 79, 72, 0.4);
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 120px 15px 20px 10px;
    color: #fff;
    text-decoration: none;
}
.items-info-foo:hover{
    background: linear-gradient(to right, rgba(29,29,29, 0.55), rgba(29,29,29, 0.1));
    cursor: pointer;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
}
.items-info-foo:focus{
    text-decoration: none;
    color: white;
}
.author-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    white-space: nowrap;
    margin-top: -14px;
}
.item-title-foo{
     font-family: Avenir-Black;
     font-size: 14px;
 }

.item-auth-foo{
    font-family: AvenirNextCyr-Medium;
    font-size: 14px;
}
.foo-img{
    box-shadow: 0 2px 15px rgba(0,0,0,0.4);
}

.item-date-foo{
    font-family: AvenirNextCyr-Light;
    font-size: 12px;
}

@media screen and (max-width: 1024px){
    #right-bar{
        width: 650px;
        margin: -150px 0 40px 80px;
        padding-left: 70px;
    }
    #best-products, #best-reviews{
        margin: 0;
        width: 210px;
        height: 210px;
    }
}
@media screen and (max-width: 768px){
    #right-bar{
        width: 650px;
        margin: 0 0 40px 50px;
    }
    #best-products, #best-reviews{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: inline-flex;
        flex-direction: row;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        margin: 0;
        width: 210px;
        height: 210px;
    }
}